html {
    text-align: center;
    font-family: Monaco;
    background-color: antiquewhite;
}

h1
{
 font-family: 'Press Start 2P', monospace;
 font-size:  25px;
}

.right {
    float: center;
}

.left {
    display: inline;
}

.square {
    background-color: aquamarine;
    border: 1px solid black;
}

.color {
    background-color: blueviolet;
    border: 1px solid black;
}

.page{
    text-align: right;
    margin-right:170px;
    margin-top: -700px;
}
.reset {
    font-family: 'Press Start 2P', monospace;
    font-size: 20px;
    background-color: gray;
    color: aliceblue;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.gridContainer {
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 40px;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: repeat(16, 2fr);
  display: inline-grid;
  border: 5px solid black;
  border-radius: 25px;
  overflow: hidden;
  height: 740px;
  width: 1000px;
}