html {
    text-align: center;
    font-family: Monaco;
    background-color: antiquewhite;
}

.right {
    float: center;
}

.left {
    display: inline;
}

.square {
    background-color: aquamarine;
    border: 1px solid black;
}

.gridContainer {
  margin-top: 5px;
  margin-right: 40px;
  margin-left: 40px;
  display: inline-grid;
  border: 5px solid black;
  border-radius: 5px;
  height: 740px;
  width: 1000px;
}